<!DOCTYPE html>
<html>

<head>
    <title>STUDENT</title>
</head>
    
<body>
    <form action="{% url 'student_url' %}" method="POST">
        {% csrf_token %}
        <p>
            <label>NAME</label>
            <input type="text" name="fname">
        </p>
        <p>
            <label>Standard</label>
            <input type="text" name="std">
        </p>
        <p>
            <label>Biology</label>
            <input type="text" name="bio">
        </p>
        <p>
            <label>Maths</label>
            <input type="text" name="math">
        </p>
        <p>
            <label>English</label>
            <input type="text" name="eng">
        </p>
       
       
        <button type="submit" value="User">save</button>
    </form>
</body>
    
</html>